In [1]:
import pandas as pd

In [107]:
df = pd.read_csv('UCI_Credit_Card.csv')

In [109]:
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,0,0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,0,0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,0,0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,0,-1,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,0,0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [57]:
def gender(sex):
    if sex == 1:
        return 'Gen - Hombre'
    elif sex == 2:
        return 'Gen - Mujer'
    else:
        return 'Gen - Sin Información'

def education(ed):
    if ed == 1:
        return 'Ed - Posgrado'
    elif ed == 2:
        return 'Ed - Universitario'
    elif ed == 3:
        return 'Ed - Bachillerato'
    elif ed == 4:
        return 'Ed - Otros'
    else:
        return 'Ed - Sin Información'
    
def marriage(status):
    if status == 1:
        return 'Mat - Casado'
    elif status == 2:
        return 'Mat - Soltero'
    elif status == 3:
        return 'Mat - Otros'
    else:
        return 'Mat - Sin Información'

***De-codificamos las variables***

In [58]:
df['COD_SEX'] = df.SEX.apply(gender)
df['COD_EDUCATION'] = df.EDUCATION.apply(education)
df['COD_MARRIAGE'] = df.MARRIAGE.apply(marriage)

***Hacemos el encoding para que las categorias queden como numeros***

In [65]:
df_gen = pd.get_dummies(df.COD_SEX)['Gen - Mujer']

In [63]:
df_ed = pd.get_dummies(df.COD_EDUCATION).drop('Ed - Sin Información', axis = 1)

In [64]:
df_mat = pd.get_dummies(df.COD_MARRIAGE).drop('Mat - Sin Información', axis = 1)

***DataFrame FInal***

In [68]:
pd.options.display.max_columns = None

In [86]:
df_fin = df[['LIMIT_BAL', 'BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6',
             'PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6',
             'PAY_0','PAY_2' ,'PAY_3','PAY_4','PAY_5','PAY_6'
            ]].copy()

In [87]:
df_demo = pd.concat([df['AGE'], df_gen, df_ed, df_mat], axis = 1)

In [91]:
df_final = pd.concat([df_fin, df_demo, df['default.payment.next.month']], axis = 1)

In [92]:
df_final

,LIMIT_BAL,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,AGE,Gen - Mujer,Ed - Bachillerato,Ed - Otros,Ed - Posgrado,Ed - Universitario,Mat - Casado,Mat - Otros,Mat - Soltero,default.payment.next.month
0,20000.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,2,2,-1,-1,-2,-2,24,1,0,0,0,1,1,0,0,1
1,120000.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,-1,2,0,0,0,2,26,1,0,0,0,1,0,0,1,1
2,90000.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,0,0,0,0,0,34,1,0,0,0,1,0,0,1,0
3,50000.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,0,0,0,0,0,37,1,0,0,0,1,1,0,0,0
4,50000.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,-1,0,-1,0,0,0,57,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0,0,0,0,0,0,39,0,1,0,0,0,1,0,0,0
29996,150000.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,-1,-1,-1,-1,0,0,43,0,1,0,0,0,0,0,1,0
29997,30000.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,4,3,2,-1,0,0,37,0,0,0,0,1,0,0,1,1
29998,80000.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1,-1,0,0,0,-1,41,0,1,0,0,0,1,0,0,1
29999,50000.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,0,0,0,0,0,0,46,0,0,0,0,1,1,0,0,1

In [95]:
df_final.isnull().sum()

LIMIT_BAL                     0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
AGE                           0
Gen - Mujer                   0
Ed - Bachillerato             0
Ed - Otros                    0
Ed - Posgrado                 0
Ed - Universitario            0
Mat - Casado                  0
Mat - Otros                   0
Mat - Soltero                 0
default.payment.next.month    0
dtype: int64

In [102]:
df_final = df_final.drop_duplicates()

In [103]:
df_final.to_csv('Processed_UCI_Credit_Card.csv', index = False)

In [104]:
df_final

,LIMIT_BAL,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,AGE,Gen - Mujer,Ed - Bachillerato,Ed - Otros,Ed - Posgrado,Ed - Universitario,Mat - Casado,Mat - Otros,Mat - Soltero,default.payment.next.month
0,20000.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,2,2,-1,-1,-2,-2,24,1,0,0,0,1,1,0,0,1
1,120000.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,-1,2,0,0,0,2,26,1,0,0,0,1,0,0,1,1
2,90000.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0,0,0,0,0,0,34,1,0,0,0,1,0,0,1,0
3,50000.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0,0,0,0,0,0,37,1,0,0,0,1,1,0,0,0
4,50000.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,-1,0,-1,0,0,0,57,0,0,0,0,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0,0,0,0,0,0,39,0,1,0,0,0,1,0,0,0
29996,150000.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,-1,-1,-1,-1,0,0,43,0,1,0,0,0,0,0,1,0
29997,30000.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,4,3,2,-1,0,0,37,0,0,0,0,1,0,0,1,1
29998,80000.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1,-1,0,0,0,-1,41,0,1,0,0,0,1,0,0,1
29999,50000.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,0,0,0,0,0,0,46,0,0,0,0,1,1,0,0,1

In [105]:
30000 - 29965

35